<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Feed</title>
    <script>
        function refreshImage() {
            document.getElementById('camera_feed').src = '/video_feed';
        }
        setInterval(refreshImage, 1000); 
    </script>
</head>
<body>
    <h1>Hello, World!</h1>
    <img id="camera_feed" alt="Live feed" src="/video_feed" width="640" height="480">
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Feed</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <img id="camera_feed" alt="Live feed" src="/video_feed" width="640" height="480">
</body>
</html>